            <section class="items-box">
              <a href=" ">
                <figure class="items-box-photo">
                  <%= image_tag "#{product.images.first.image.url}" %>
                </figure>
                <div class="items-box-body">
                  <h3 class="items-box-name font-2"><%= product.name %></h3>
                  <div class="items-box-num">
                    <div class="items-box-price font-5">¥<%= product.price %></div>
                    <div class="items-box-likes font-2">
                      <%= fa_icon 'heart' %> <span>16</span>
                    </div>
                  </div>
                </div>
              </a>
            </section>
