<div class="done-progress__box">
<div class="done-progress">
    <!--非表示ここから-->
    <nav class='progress'>
        <ul class='progress-bar'>
            <li class='through' id='through'>
                会員情報
                <div class='progress-status'></div>
                <div class='progress-status__bar'></div>
            </li>

            <li class='address' id='address'>
                お届け先住所入力
                <div class='progress-status'></div>
                <div class='progress-status__bar'></div>
            </li>

            <li class='end' id='end'>
                完了
                <div class='progress-status'></div>
                <div class='progress-status__bar'></div>
            </li>
        </ul>
    </nav>
</div>
<!--ここまで非表示-->
</div>
<!--ここまで-->

<!--非表示ここから-->
        <div class="show-progress__box">
            <div class="show-progress">
                <nav class='progress'>
                    <ul class='progress-bar'>
                        <li class='through' id='through'>
                            会員情報
                            <div class='progress-status'></div>
                            <div class='progress-status__bar'></div>
                        </li>

                        <li class='address' id='address'>
                            お届け先住所入力
                            <div class='progress-status'></div>
                            <div class='progress-status__bar'></div>
                        </li>

                        <li class='end' id='end'>
                            完了
                            <div class='progress-status'></div>
                            <div class='progress-status__bar'></div>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--ここまで非表示-->
        </div>
        <!--ここまで-->


        <div class="hidden-progress__box">
            <div class="hidden-progress">
                <!--非表示ここから-->
                <nav class='progress'>
                    <ul class='progress-bar'>
                        <li class='through' id='through'>
                            会員情報
                            <div class='progress-status'></div>
                            <div class='progress-status__bar'></div>
                        </li>

                        <li class='address' id='address'>
                            お届け先住所入力
                            <div class='progress-status'></div>
                            <div class='progress-status__bar'></div>
                        </li>

                        <li class='end' id='end'>
                            完了
                            <div class='progress-status'></div>
                            <div class='progress-status__bar'></div>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--ここまで非表示-->
        </div>
        <!--ここまで-->
