= form_with url: products_search_path, method: :get, local: true, class: 'header-form' do |f|
  = f.text_field :product_name, placeholder: 'キーワードから探す', type: 'search', class: 'input-default'
  %button{type: 'submit', class: 'icon-search'}
    %i.fas.fa-search
