.container__single-footer {
  text-align: center;
  background: $gray;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  margin:8px;

  a {
  font-size: 12px;
  text-decoration: none;
  color:$gray2;
  margin: 4px;
  }
}
