.logo {
  width: 300px;
  margin: 0 auto;
  text-align : center;
}

.title {
  font-weight: bold;
}

.subtitle {
  color: darkgray;
  display: inline-block;
  width: 100px;
  vertical-align: top;
  font-weight: bold;
}

.subform {
  display: inline-block;
  width: 170px;
}

.column_title {
  text-align: left;
  font-weight: bold;
}

.required {
  color: white;
  background-color: red;
  font: bold;
  display:inline-block;
  vertical-align: middle;
}

select {
  width: 170px;
  border: none;
  background-color: white;
}

.product_form {
  width:300px;
  margin: 0 auto;
  text-align : center;

  &__image {
    border-top: 1px solid rgb(200, 200, 200);
    padding: 10px 0px 10px 0px;
  }

  &__main {
    border-top: 1px solid rgb(200, 200, 200);
    padding: 10px 0px 10px 0px;
  }

  &__name{
    padding: 0px 0px 10px 0px;
    #product_name{
      border: none;
    }
  }

  &__description{
    #product_description{
      width: 300px;
      height: 150px;
      overflow: scroll;
    }
  }

  &__detail {
    border-top: 1px solid rgb(200, 200, 200);
    padding: 10px 0px 10px 0px;
  }

  &__delivery {
    border-top: 1px solid rgb(200, 200, 200);
    padding: 10px 0px 10px 0px;
  }

  &__money {
    border-top: 1px solid rgb(200, 200, 200);
    padding: 10px 0px 10px 0px;
    #product_price{
      width: 170px;
      border: none;
    }
  }

  &__fee {
    border-top: 1px solid rgb(200, 200, 200);
    #product_fee{
      border: none;
    }
  }

  &__profit {
    border-top: 1px solid rgb(200, 200, 200);
    #product_profit{
      border: none;
    }
  }

  &__submit {
    border-top: 1px solid rgb(200, 200, 200);
    padding: 10px 0px 10px 0px;
    .submit_button {
      width: 270px;
      border: none;
      color: white;
      background-color: red;
      font-weight: bold;
      cursor: pointer;
    }
  }

  &__back {
    padding: 10px 0px 10px 0px;
    width: 200px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    .back_button {
      text-align: center;
      width: 200px;
      border: none;
      color: white;
      background-color: gray;
      font-weight: bold;
    }
  }

  &__errors {
    padding: 10px 0px 10px 0px;
    border-top: 1px solid rgb(200, 200, 200);
    .error_title {
      color: red;
      font-weight: bold;
    }
    ul li{
      text-align: left;
      border-left: solid 6px red;
      background: #f1f8ff;
      margin-bottom: 3px;
      line-height: 1.5;
      padding: 0.5em;
      list-style-type: none!important;
    }
  }
}

.search_result {
  width: auto;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
  &__result {
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 0px 10px 0px;
  }
}

.image-edit-box {
  margin: 10px;
}
